rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /popular_names/{document=**} {
      allow read: if true;
      allow write: if true;
    }
    match /name_cache/{document=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}
